*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}

h1, p {
    text-align: center;
}

.tooltip {
    background: rgba(227, 219, 167, .9);
    padding: 20px;
    border-radius: 10px;
}